##########################################################
# Voron Infinite Heatbed - Main Configuration
# Add ONLY this line to your printer.cfg:
#   [include /home/biqu/voron-infinite-heatbed/config/infinite_heatbed.cfg]
# (Replace /home/biqu with your actual home directory)
##########################################################

[include /home/biqu/voron-infinite-heatbed/config/base/infinite_heatbed.cfg]
[include /home/biqu/voron-infinite-heatbed/config/base/infinite_heatbed_params.cfg]
[include /home/biqu/voron-infinite-heatbed/config/base/infinite_heatbed_macros.cfg]
[include /home/biqu/voron-infinite-heatbed/config/optional/client_macros.cfg]
