##########################################################
# Voron Infinite Heatbed - Main Configuration
# Add ONLY this line to your printer.cfg:
#   [include ~/voron-infinite-heatbed/config/infinite_heatbed.cfg]
##########################################################

[include ~/voron-infinite-heatbed/config/base/infinite_heatbed.cfg]
[include ~/voron-infinite-heatbed/config/base/infinite_heatbed_params.cfg]
[include ~/voron-infinite-heatbed/config/base/infinite_heatbed_macros.cfg]
[include ~/voron-infinite-heatbed/config/optional/client_macros.cfg]
